* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* HERO */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2563eb, #1e293b);
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.3rem;
  margin-top: 10px;
}

header button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #e5e7eb;
  color: #0f172a;
  transition: 0.3s;
}

header button:hover {
  background: #38bdf8;
  color: black;
}

/* SECTIONS */
section {
  padding: 60px 10%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  border-left: 5px solid #38bdf8;
  padding-left: 10px;
}

/* SKILLS & PROJECTS */
.skills,
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  font-size: 0.9rem;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  header h1 {
    font-size: 2.2rem;
  }
}
